NAME = dart-reg-ms
NODE_ENV = development
NODE_LOG_PATH = ./logs
NODE_PORT = 3006
NODE_FE_HOST = http://localhost:9000/
FILE_FOLDER = /uploads
IPFS_FOLDER = /ipfs-repo
AWS_BUCKET_NAME = darttrader-files
AWS_BUCKET_REGION = eu-north-1
AWS_USER = dart-files-user
AWS_ACCESS_KEY = AKIA3IPI2KWZVAXHM27E
AWS_SECRET = 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
PINATA_API_KEY = 9202e2d46d20435399a1
PINATA_SECRET = 285c44fb3f0238af9e88e6d519b6d9cfd7f973638fd86f965ee54040c9e9a960
PINATA_JWT_TOKEN = eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySW5mb3JtYXRpb24iOnsiaWQiOiI0ZjU3YzE5My03NTU5LTQzNGUtODA5Mi1iMmJiNDMxMjBmZjkiLCJlbWFpbCI6Imd1aWRvLmd1aWRvc0BnbWFpbC5jb20iLCJlbWFpbF92ZXJpZmllZCI6dHJ1ZSwicGluX3BvbGljeSI6eyJyZWdpb25zIjpbeyJpZCI6Ik5ZQzEiLCJkZXNpcmVkUmVwbGljYXRpb25Db3VudCI6MX1dLCJ2ZXJzaW9uIjoxfSwibWZhX2VuYWJsZWQiOmZhbHNlfSwiYXV0aGVudGljYXRpb25UeXBlIjoic2NvcGVkS2V5Iiwic2NvcGVkS2V5S2V5IjoiOTIwMmUyZDQ2ZDIwNDM1Mzk5YTEiLCJzY29wZWRLZXlTZWNyZXQiOiIyODVjNDRmYjNmMDIzOGFmOWU4OGU2ZDUxOWI2ZDljZmQ3Zjk3MzYzOGZkODZmOTY1ZWU1NDA0MGM5ZTlhOTYwIiwiaWF0IjoxNjIzMzYwMDcwfQ.oL2MqTBMxVi7edSDKJ4lTj2kq7mjF0VTBPLxzHcc0Po
