NAME = dart-ms-gateway
NODE_ENV = development
NODE_LOG_PATH = ./logs
NODE_PORT = 3005
MONGODB_DB_URL = mongodb://localhost
MONGODB_DB_NAME = db_dart_gateway
MONGODB_DB_TEST_DB_NAME = db_test_dart_gateway
MONGODB_DB_PORT = 27017
MONGODB_DB_ROUTES_COLLECTION = coll_dart_routes
MONGODB_DB_CONSUMERS_COLLECTION = coll_dart_consumers
MONGODB_DB_COUNTER_COLLECTION = coll_counters
MONGO_DB_USER = root
MONGO_DB_PASSWORD = 
REDIS_DB_HOST = localhost
REDIS_DB_PORT = 6379
REDIS_DB_USER = root
REDIS_DB_PASSWORD = 
REDIS_JWT_CACHE_KEY = darttrader:user:jwt:
REDIS_JWT_CACHE_TTL = 900
NODE_ACCESS_TOKEN_SECRET = uNeedAnOwnSecret
NODE_ACCESS_EP_TOKEN_SECRET = uNeedAnotherSecret
